/* @config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities; */

html {
  background-color: ghostwhite;
}

article, textarea, select {
  background-color: white;
}

article {
  margin-bottom: 1em;
}

div.predictions {
  padding: 0.5em 0;
}

div.prediction {
  display: inline-block; 
  border: 1px solid grey;
  padding: 0 0.5em;
}

div.language, div.switch {
  width: 49%;
  display: inline-block;
}

textarea.corpus, textarea.alignment {
  min-height: 20em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

main {
  padding: 1em;
}

textarea {
  width: 49%;
  display: inline-block;
}